@font-face {
    font-family: Seory;
    src: url(/fonts/Daydream\ DEMO.woff2);
}

body {
    background-color: #dfdfdf;
    color: #000;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    border-bottom: 1px solid #dfdfdf;
}

.logo .seory {
    font-family: Seory;
    font-weight: bold;
    font-size: 33px;
    display: block;
}

.logo .psychiatry {
    font-family: Seory;
    color: #000;
    font-size: 20px;
}

.links a {
    margin-left: 20px;
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 40px;
    border-bottom: 1px solid #ddd;
}

.navbar ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar li {
    font-size: 17px;
    cursor: pointer;
}